.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    .query, .response {
        background-color: white;
        width: 45%;
        min-height: 20rem;
        border: 1px solid black;
    }
}